.radial-menu
    top 15px
    left 15px
    position fixed
    display block
    width 100px
    height 100px
    background-color transparent
    border-radius 50%
    z-index 20

.menu-item1
.menu-item2
.menu-item3
.menu-item4
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    color: #fff;
    text-align: center;
    line-height: 3rem;
    top: 25%;
    left: 25%;
    background: #1d1d1d;
    padding: 0.10rem 1rem;

.menu-item1
    z-index 19
    transition all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550)

.menu-item2
    transition all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .2s

.menu-item3
    transition all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .4s

.menu-item4
    transition  all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .6s

.mask
    top: 27px;
    left: 27px;
    background: #1d1d1d;
    border-radius: 50%;
    z-index: 21;
    color: #fff;
    text-align: center;
    cursor: pointer;
    position: fixed;
    padding: 1.5rem;
    font-size: 1.5rem;

.menu-item1
    &.open
        transform translate(0px,125px)

.menu-item2
    &.open
        transform translate(60px,105px)

.menu-item3
    &.open
        transform translate(105px,60px)

.menu-item4
    &.open
        transform translate(125px,0px)

.mask
.menu-item1
.menu-item2
.menu-item3
.menu-item4
    box-shadow 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
