.navigation
    .radial-menu(ref='menu')
        .menu-item1(:class='{ open: open }')
            i.fal.fa-user
        .menu-item2(:class='{ open: open }')
            i.fal.fa-graduation-cap
        .menu-item3(:class='{ open: open }')
            i.fal.fa-code
        .menu-item4(:class='{ open: open }', data-open="modal")
            i.fal.fa-envelope
        .mask
            i.fal.fa-home
