.about
    canvas(ref='canvas', v-on:click="getCoords", data-depth="0.6", width='1920', height='1080')
    video.background(data-depth="0.2", preload="auto", loop, autoplay="true", src="/video/bg.mp4")
    img(src="image/me.png")
